<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>タスク管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">タスク管理</ion-title>
    </ion-toolbar>
  </ion-header>

 <from class="ion-padding">
   <ion-item lines="full" class="ion-padding-bottom">
     <ion-label position="floating">タスク</ion-label>
     <ion-input type="text"></ion-input>
   </ion-item>
   <ion-button expand="block">追加</ion-button>
 </from>
</ion-content>
